body{
  background-color: rgb(63, 1, 47);
}

.App{
  min-height: 500px;
  width: 500px;
  background-color: rgb(0, 77, 0);
  margin: 50px auto;
}

.head input{
  outline-style: none;
  border: 0;
  margin-top: 5px;
  margin-left: 20px;
  height: 50px;
  border-radius: 5px;
  width: 350px;
  background-color: rgb(235, 235, 235);
}

.head button{
  height: 40px;
  border-radius: 5px;
  width: 90px;
  margin-left: 15px;
  outline-style: none;
  border: 0;
  background-color: rgb(235, 235, 235);
}

.list ul li{
  list-style: none;
  margin-top: 30px;
}

.list input{
  min-height: 50px;
  min-width: 320px;
  outline-style: none;
  border: 0;
  border-radius: 5px;
  background-color: rgb(238, 136, 11);

}

.list button{
  margin-left: 15px;
  margin-bottom: 10px;
  height: 40px;
  width: 70px;
  outline-style: none;
  border: 0;
  border-radius: 5px;
  background-color: rgb(240, 141, 11);
}